#hobby{
    position: absolute;
    overflow: hidden;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.80;
    background: linear-gradient(#60ebeb 0%,#42e0f5 50%, #27ae60 100%);
    display: table;
    text-align: center;
    height: 70%;
    width: 100%;
    z-index: 9;
}
#yoga{
    border-radius: 50%;
    padding-top: 80px;
    
}
#hobbylb{
    font-family: 'Dancing Script', cursive;
   
}
.line{
    width: 60px;
    height: 10px;
    background-color: black;
    text-align: center;
   margin: 8px auto;
}
#about{
     background-color:     aliceblue;
  
    
}

.links{
    display: inline;
    
    color: #fff;

    padding-left: 33px;
    padding-right: 25px;
   
    font-family: fantasy;
    font-size: 20px;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
}
#menu{
    background-color: darkblue;
    color: beige;
    position: fixed;
    top: 10px;
    right: 30px;
    list-style: none;
     z-index:10 ;  
    
}
body{
    margin: 0;
    padding-top: 500px;
    text-align: center;
}
#favourite{
   
    background-color: aquamarine;

    
}
html{
    scroll-behavior: smooth;
}
#inspiration{
   background-color: aqua;
}
#contact{
    background-color: beige;
}
a:hover{
    color: fuchsia;
}
a{
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
   
}
#contact iframe{
    width: 100%;
}
.contact_1 a{
    color: white;
    text-shadow: none ;
    
}
.contact_1 h3{
    display: inline;
}
}