#hobby{
    position: absolute;
    overflow: hidden;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.80;
    background: linear-gradient(#60ebeb 0%,#42e0f5 50%, #27ae60 100%);
    display: table;
    text-align: center;
    height: 70%;
    width: 100%;
    z-index: 9;
}
#yoga{
    border-radius: 50%;
    padding-top: 80px;
    
}
#hobbylb{
    font-family: 'Dancing Script', cursive;
   
}
.line{
    width: 60px;
    height: 10px;
    background-color: black;
    text-align: center;
   margin: 8px auto;
}
#about{
 
    background-color:     aliceblue;
  
    
}
.links{
    float: left;
    color: antiquewhite;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: cursive;
    font-size: 25px;
}
.links:hover{
 background-color: bisque;
    color: blueviolet;
    cursor: pointer;
}
#menu{
    background-color: darkblue;
    color: beige;
    position: fixed;
    top: 10px;
    right: 30px;
    list-style: none;
     z-index:10 ;  
    
}
body{
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
#favourite{
    position: absolute;
    overflow: hidden;
    color: #FFFFFF;
    left: 0;
    top: 1000;
    bottom: 0;
    right: 0;
    opacity: 0.80;
    background-color: aquamarine;
    display: table;
    text-align: center;
     height: 70%;
    width: 100%;
    
}
html{
    scroll-behavior: smooth;
}
#inspiration{
    padding-top: 1500px;
}